<a href="https://colab.research.google.com/github/seon0415/weit/blob/main/%EC%97%AC%EC%84%B1%EC%95%88%EC%8B%AC%EA%B7%80%EA%B0%80_%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **- 분석에만 그치지 않고, 분석 및 솔루션 제시까지 하는 걸 목표**


### **- 가설: 여성 인구가 많고 여성 범죄율이 높은 지역일 수록 → 안심 귀가 서비스의 필요성이 높아진다**

1. 관련 데이터 수집 및 EDA
    1. 서비스가 어떤 식으로 제공되는지 알아보기 (홈페이지 방문, 앱 사용, 실제 서비스 이용해보기 등의 방법)
    2. 데이터랑 데이터를 엮어서 새로운 데이터 만들어내기(EDA)
    - **최대한 많은 데이터가 수집되면 좋음 (여기 안 적혀 있는 데이터여도 필요하다 싶으면 가지고 오기)**
    - 여성안심귀가스카우트 자치구 별 이용률
    - 서울시 여성 가구 밀집도 / 가구수 / etc.
    - 서울시 여성 범죄 현황
    - 서울시 치안만족도 현황 (경찰청_수사분야 치안고객만족도 결과(관서별))
    - 밤 시간대 대중교통 이용 정보(유동 인구가 많은 역)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams['axes.unicode_minus'] = False # 마이너스 기호 깨짐 방지

set_index : 기존의 행 인덱스를 제거하고 데이터 열 중 하나를 인덱스로 설정

reset_index : 기존의 행 인덱스를 제거하고 인덱스를 데이터 열로 추가

merge:

concat:

In [ ]:
import matplotlib.pyplot as plt
plt.rcParams.update({'font.family': 'Malgun Gothic',   #한글 폰트
                     'figure.dpi': '120',              #해상도
                     'figure.figsize': [6.5, 6]})      #가로 세로 크기             
     
sns.barplot(data=scout).set( ylim=(0,10000))

In [ ]:
sns.load_dataset('titanic')

### **여성안심귀가스카우트 자치구 별 이용률**

In [24]:
scout=pd.read_excel('서울시 여성안심스카우트 이용현황(2015_2020).xlsx')
scout
scout.set_index("연번")

,자치구,2015,Unnamed: 3,2016,Unnamed: 5,2017,Unnamed: 7,2018,Unnamed: 9,2019,Unnamed: 11,2020,Unnamed: 13
연번,,,,,,,,,,,,,
NaN,NaN,이용실적,스카우트 인원,이용실적,스카우트 인원,이용실적,스카우트 인원,이용실적,스카우트 인원,이용실적,스카우트 인원,이용실적,스카우트 인원
총 계,NaN,233290,420,241838,420,322704,443,341162,452,350955,452,210278,500
1,종로구,8861,19,6970,21,3789,11,1438,11,10097,11,11445,14
2,중구,2935,11,4901,7,11110,15,11931,17,12658,17,8861,20
3,용산구,4994,11,6355,11,8461,13,8979,13,9238,13,5749,13
4,성동구,8043,15,13170,17,18766,23,19584,23,17510,23,10872,23
5,광진구,6533,13,5990,11,6183,11,6206,11,6099,11,3215,13
6,동대문구,5588,11,7259,13,13704,21,15771,21,20776,21,19420,21
7,중랑구,8448,13,7815,17,8001,13,10163,17,14696,17,8015,17
8,성북구,6789,15,7600,13,13486,21,14427,23,16836,23,7220,26
9,강북구,10507,19,13833,23,17368,23,18446,25,18282,25,10573,25
10,도봉구,3467,15,4800,11,11499,11,10491,15,12602,15,7092,17
11,노원구,5766,13,7296,13,10474,15,9695,17,10838,17,2967,19
12,은평구,6789,19,12556,19,14350,19,14910,21,10145,21,5033,23
13,서대문구,7227,15,9579,15,12226,21,10469,17,11164,17,6898,17
14,마포구,1202,13,1039,7,3080,7,4677,11,10494,11,9909,14
15,양천구,5012,13,7641,13,8224,13,9083,13,8393,13,6269,15
16,강서구,3554,11,4235,7,8572,15,10291,13,9145,13,3144,18
17,구로구,13580,26,13438,23,16171,23,14179,21,15233,21,6882,24
18,금천구,18323,26,17781,26,18509,25,18343,25,17946,25,12893,27
19,영등포구,16315,26,13152,24,11568,19,10920,17,10700,17,2547,20
20,동작구,8350,19,15268,21,19935,25,18431,25,18766,25,14233,25
21,관악구,18463,25,14403,24,15918,25,16706,23,15730,23,10286,25
22,서초구,22185,25,15102,28,34498,19,51088,26,43556,26,9483,29
23,강남구,3341,13,2448,7,6863,11,8793,11,6306,11,5191,16
24,송파구,24221,19,13297,28,11019,19,9401,15,9309,15,13992,18
25,강동구,12797,15,15910,21,18930,25,16740,21,14436,21,8089,21

In [30]:
#그룹화할까
from openpyxl import Workbook
from openpyxl import load_workbook

wb=load_workbook("서울시 여성안심스카우트 이용현황(2015_2020).xlsx")
ws=wb.active

ws.merge_cells("C1:D1") 
wb.save("sample_unmerge.xlsx")

In [31]:
scout=pd.read_excel('sample_unmerge.xlsx').set_index("자치구").drop(columns='연번')
scout.rename(columns = {'Unnamed: 3':'2015',
                        'Unnamed: 5':'2016',
                        'Unnamed: 7':'2017',
                        'Unnamed: 9':'2018',
                        'Unnamed: 11':'2019',
                        'Unnamed: 13':'2020',
                        }, inplace =True)
scout
#scout.transpose()

,2015,2015,2016,2016,2017,2017,2018,2018,2019,2019,2020,2020
자치구,,,,,,,,,,,,
NaN,이용실적,스카우트 인원,이용실적,스카우트 인원,이용실적,스카우트 인원,이용실적,스카우트 인원,이용실적,스카우트 인원,이용실적,스카우트 인원
NaN,233290,420,241838,420,NaN,443,NaN,452,NaN,452,NaN,NaN
종로구,8861,19,6970,21,3789,11,1438,11,10097,11,11445,14
중구,2935,11,4901,7,11110,15,11931,17,12658,17,8861,20
용산구,4994,11,6355,11,8461,13,8979,13,9238,13,5749,13
성동구,8043,15,13170,17,18766,23,19584,23,17510,23,10872,23
광진구,6533,13,5990,11,6183,11,6206,11,6099,11,3215,13
동대문구,5588,11,7259,13,13704,21,15771,21,20776,21,19420,21
중랑구,8448,13,7815,17,8001,13,10163,17,14696,17,8015,17
성북구,6789,15,7600,13,13486,21,14427,23,16836,23,7220,26
강북구,10507,19,13833,23,17368,23,18446,25,18282,25,10573,25
도봉구,3467,15,4800,11,11499,11,10491,15,12602,15,7092,17
노원구,5766,13,7296,13,10474,15,9695,17,10838,17,2967,19
은평구,6789,19,12556,19,14350,19,14910,21,10145,21,5033,23
서대문구,7227,15,9579,15,12226,21,10469,17,11164,17,6898,17
마포구,1202,13,1039,7,3080,7,4677,11,10494,11,9909,14
양천구,5012,13,7641,13,8224,13,9083,13,8393,13,6269,15
강서구,3554,11,4235,7,8572,15,10291,13,9145,13,3144,18
구로구,13580,26,13438,23,16171,23,14179,21,15233,21,6882,24
금천구,18323,26,17781,26,18509,25,18343,25,17946,25,12893,27
영등포구,16315,26,13152,24,11568,19,10920,17,10700,17,2547,20
동작구,8350,19,15268,21,19935,25,18431,25,18766,25,14233,25
관악구,18463,25,14403,24,15918,25,16706,23,15730,23,10286,25
서초구,22185,25,15102,28,34498,19,51088,26,43556,26,9483,29
강남구,3341,13,2448,7,6863,11,8793,11,6306,11,5191,16
송파구,24221,19,13297,28,11019,19,9401,15,9309,15,13992,18
강동구,12797,15,15910,21,18930,25,16740,21,14436,21,8089,21

In [32]:
scout['2015'].iloc[10]

19

In [23]:
scout.iloc[0]

2015       이용실적
2015    스카우트 인원
2016       이용실적
2016    스카우트 인원
2017       이용실적
2017    스카우트 인원
2018       이용실적
2018    스카우트 인원
2019       이용실적
2019    스카우트 인원
2020       이용실적
2020    스카우트 인원
Name: nan, dtype: object

In [ ]:
for k in range(0,100):
  scou

### **서울시 여성 가구 밀집도 / 가구수 / etc.**

### **서울시 여성 범죄 현황**

In [ ]:
place=pd.read_csv('경찰청_성범죄 발생 장소별 현황_20211231.csv', encoding= 'CP949')

In [ ]:
place.set_index("연도").iloc[-1].transpose().sort_values(ascending=False)
# 아파트 주택에서 많이 성범죄가 발생한다. 귀갓길이 무섭다

In [ ]:
place=pd.read_excel('5대범죄+발생장소별+현황_20230314011553.xlsx')
place=place.drop(columns='장소별(1)').set_index('장소별(2)')
place.head(20)

In [1]:
place.index()

NameError: ignored

### **서울시 치안만족도 현황 (경찰청_수사분야 치안고객만족도 결과(관서별))**
- 시각화: 원형그래프

### **밤 시간대 대중교통 이용 정보(유동 인구가 많은 역)**