<a href="https://colab.research.google.com/github/seon0415/weit/blob/main/%EC%A7%80%EA%B5%AC%EB%8C%80_%EC%88%9C%EC%B0%B0%EC%B0%A8_%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [84]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.rc('font', family='Malgun Gothic')

car=pd.read_csv("경찰청 서울특별시경찰청_경찰서별 112 순찰차 현황_20211231.csv", encoding='CP949')
police=pd.read_csv("경찰청 서울특별시경찰청_경찰서별 지역경찰 현황_20211231.csv", encoding='CP949')
office=pd.read_csv("시내주요기관(경찰·소방관서)_20230317212437.csv")

In [ ]:
car['경찰서']=car['경찰서'].str.replace(" ","")

In [111]:
df=pd.merge(car,police,on='경찰서').drop(columns='순번').set_index('경찰서')
df['2018년_지역경찰']=df['2018년 지구대']+df['2018년 파출소']+df['2018년 치안센터']
df['2019년_지역경찰']=df['2019년 지구대']+df['2019년 파출소']+df['2019년 치안센터']
df['2020년_지역경찰']=df['2020년 지구대']+df['2020년 파출소']+df['2020년 치안센터']
df['2021년_지역경찰']=df['2021년 지구대']+df['2021년 파출소']+df['2021년 치안센터']
df.rename(columns={'대수':'2021년_순찰차'}, inplace=True)
df.drop(columns=df.iloc[:,1:13])

     2021년_순찰차  2018년_지역경찰  2019년_지역경찰  2020년_지역경찰  2021년_지역경찰
경찰서
중부          17          11          11          10          10
종로          19          14          14          14          14
남대문         12           7           7           7           7
서대문         25          11          11          10          10
혜화          14           9           9           9           9
용산          25          12          12          12          12
성북          17          14          14          14          14
동대문         31          20          20          20          20
마포          31          17          15          15          15
영등포         32          15          15          15          15
성동          22          15          15          15          15
동작          25          17          17          17          17
광진          28          12          12          12          12
서부          15           8           8           8          10
강북          23          14          14          14          14
금천          18          12          12          12          12
중랑          24          17          17          17          17
강남          30          11          11          11          11
관악          34          19          19          19          18
강서          30          12          12          12          12
강동          28          16          16          16          16
종암          12          10          10          10          10
구로          24          16          16          16          17
서초          22          12          12          12          12
양천          22          15          16          15          15
송파          36          20          20          21          21
노원          27          18          17          16          16
방배           8           7           7           7           7
은평          16          12          12          12          10
도봉          18           9           9           9           9
수서          20          12          10          10          10

In [24]:
office.columns

Index(['자치구별(1)', '자치구별(2)', '1988', '1988.1', '1988.2', '1988.3', '1989',
       '1989.1', '1989.2', '1989.3',
       ...
       '2020.2', '2020.3', '2020.4', '2020.5', '2021', '2021.1', '2021.2',
       '2021.3', '2021.4', '2021.5'],
      dtype='object', length=190)

In [45]:
office=pd.read_csv("시내주요기관(경찰·소방관서)_20230317212437.csv")
office=office.drop(columns='자치구별(1)').drop(index=0).rename(columns={'자치구별(2)':'경찰서'})
office['경찰서']=office['경찰서'].str.replace("구","")
office.set_index('경찰서')

,1988,1988.1,1988.2,1988.3,1989,1989.1,1989.2,1989.3,1990,1990.1,...,2020.2,2020.3,2020.4,2020.5,2021,2021.1,2021.2,2021.3,2021.4,2021.5
경찰서,,,,,,,,,,,,,,,,,,,,,
소계,25,567,13,71,25,574,14,77,27,589,...,408,1,24,119,2,31,407,1,25,119
종로,2,40,1,4,2,40,1,5,2,40,...,22,-,1,6,1,2,22,0,1,6
중,2,43,1,3,2,43,1,3,2,43,...,18,1,1,5,0,2,18,1,1,5
용산,1,29,1,4,1,29,1,4,1,29,...,12,-,1,5,0,1,12,0,1,5
성동,2,41,1,5,2,41,1,5,2,41,...,15,-,1,4,0,1,15,0,1,4
광진,-,-,-,-,-,-,-,-,-,-,...,12,-,1,3,0,1,12,0,1,3
동대문,1,34,1,3,1,34,1,3,1,34,...,20,-,1,5,0,1,20,0,1,5
중랑,1,17,-,3,1,17,-,3,1,17,...,17,-,1,4,0,1,17,0,1,4
성북,2,37,1,4,2,37,1,4,2,37,...,24,-,1,4,0,2,24,0,1,4
강북,-,-,-,-,-,-,-,-,-,-,...,14,-,1,4,0,1,14,0,1,4
도봉,1,31,-,3,1,31,1,4,1,32,...,9,-,1,4,0,1,9,0,1,4
노원,-,16,-,2,-,16,-,2,1,17,...,16,-,1,5,0,1,16,0,1,5
은평,1,19,1,2,1,21,1,2,1,21,...,20,-,1,4,0,2,20,0,1,4
서대문,1,27,-,3,1,27,-,3,1,28,...,10,-,1,4,1,1,10,0,1,4
마포,1,29,1,4,1,29,1,4,1,29,...,15,-,1,6,0,1,15,0,1,6
양천,1,13,-,-,1,15,-,2,1,17,...,15,-,1,5,0,1,15,0,1,5
강서,1,17,1,3,1,17,1,4,1,17,...,12,-,1,6,0,1,12,0,1,6
로,1,34,-,7,1,34,-,6,1,34,...,17,-,1,6,0,1,17,0,1,6
금천,-,-,-,-,-,-,-,-,-,-,...,12,-,-,2,0,1,12,0,1,2
영등포,1,26,1,4,1,26,1,4,1,26,...,15,-,1,5,0,1,15,0,1,5
동작,1,25,-,2,1,25,-,2,1,25,...,17,-,1,4,0,1,17,0,1,4
관악,1,24,-,2,1,24,-,3,1,26,...,19,-,1,4,0,1,18,0,1,4
서초,2,15,1,4,2,16,1,4,2,18,...,19,-,1,6,0,2,19,0,1,6
강남,1,17,1,3,1,18,1,3,1,19,...,21,-,1,6,0,2,21,0,1,6
송파,-,17,-,3,-,18,-,4,1,20,...,21,-,1,6,0,1,21,0,1,6
강동,1,16,1,3,1,16,1,3,1,19,...,16,-,1,6,0,1,16,0,1,6
기타,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,0,0,0,0,0,0

In [117]:
import folium
import json

folium.Map(location=[35.95, 127.7],   #지도중심좌표
           zoom_start=8 )             #확대단계

map_sig=folium.Map(location=[35.95, 127.7],
                   zoom_start=8)  #지도종류

folium.Choropleth(
    geo_data=df,
    data=df,
    columns=('code','pop'),
    key_on='feature.properties.ADM_DR_CD',
    fill_color='Blues',
    nan_fill_color='White',
    fill_opacity=1,
    line_opacity=0.5,
    bins=bins)\
    .add_to(map_seoul)

NameError: ignored

히트맵 상관관계 분석

In [72]:
office.transpose().set_index('경찰서')

AttributeError: ignored

In [ ]:
for k in range(1,183):
  office[k]=office.iloc[:,[k]]+office.iloc[:,[k+1]]+office.iloc[:,[k+2]]+office.iloc[:,[k+3]]+office.iloc[:,[k+4]]
  k=``

In [ ]:
office.iloc[:,[183]]